<!DOCTYPE html>
<html>
  <head>
    <title>ASL Alphabets</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body style="height: 400vh">
    <!-- Navigation Menu -->
    <nav class="Navigation">
      <!-- Left side: links -->
      <div>
        <a href="{{url_for('home')}}">Home</a> |
        <a href="{{url_for('alphabets')}}">Alphabets</a> |
        <a href="{{url_for('quiz')}}">Quiz</a> |
        <a href="{{url_for('recognize')}}">Recognition</a> |
        <a href="{{url_for('upload')}}">Image Recognition</a>

      </div>

      <!-- Right side: logo -->
      <div>
        <img
          src="../static/images/lo.png"
          alt="Logo"
          style="height: 60px; margin-right: 30px"
        />
      </div>
    </nav>

    <!-- Intro Section -->
    <section class="intro">
      <h1>Learn American Sign Language (ASL) Alphabet</h1>
      <p>
        This project presents the ASL alphabet in an interactive visual grid.
        Each card shows a hand gesture along with its corresponding letter.
        Scroll down to explore the alphabets and practice sign language step by
        step.
      </p>
    </section>

    <div class="signBoard">
      <!-- Big card 1 -->
      <div class="set set1 active">
        <div class="card">
          <img src="../static/images/A.PNG" />
          <p>A</p>
        </div>
        <div class="card">
          <img src="../static/images/B.PNG" />
          <p>B</p>
        </div>
        <div class="card">
          <img src="../static/images/C.PNG" />
          <p>C</p>
        </div>
        <div class="card">
          <img src="../static/images/D.PNG" />
          <p>D</p>
        </div>
        <div class="card">
          <img src="../static/images/E.PNG" />
          <p>E</p>
        </div>
        <div class="card">
          <img src="../static/images/F.PNG" />
          <p>F</p>
        </div>
        <div class="card">
          <img src="../static/images/G.PNG" />
          <p>G</p>
        </div>
        <div class="card">
          <img src="../static/images/H.PNG" />
          <p>H</p>
        </div>
      </div>

      <!-- Big card 2 -->
      <div class="set set2">
        <div class="card">
          <img src="../static/images/I.PNG" />
          <p>I</p>
        </div>
        <div class="card">
          <img src="../static/images/J.PNG" />
          <p>J</p>
        </div>
        <div class="card">
          <img src="../static/images/K.PNG" />
          <p>K</p>
        </div>
        <div class="card">
          <img src="../static/images/L.PNG" />
          <p>L</p>
        </div>
        <div class="card">
          <img src="../static/images/M.PNG" />
          <p>M</p>
        </div>
        <div class="card">
          <img src="../static/images/N.PNG" />
          <p>N</p>
        </div>
        <div class="card">
          <img src="../static/images/O.PNG" />
          <p>O</p>
        </div>
        <div class="card">
          <img src="../static/images/P.PNG" />
          <p>P</p>
        </div>
      </div>

      <!-- Big card 3 -->
      <div class="set set3">
        <div class="card">
          <img src="../static/images/Q.PNG" />
          <p>Q</p>
        </div>
        <div class="card">
          <img src="../static/images/R.PNG" />
          <p>R</p>
        </div>
        <div class="card">
          <img src="../static/images/S.PNG" />
          <p>S</p>
        </div>
        <div class="card">
          <img src="../static/images/T.PNG" />
          <p>T</p>
        </div>
        <div class="card">
          <img src="../static/images/U.PNG" />
          <p>U</p>
        </div>
        <div class="card">
          <img src="../static/images/V.PNG" />
          <p>V</p>
        </div>
        <div class="card">
          <img src="../static/images/W.PNG" />
          <p>W</p>
        </div>
        <div class="card">
          <img src="../static/images/X.PNG" />
          <p>X</p>
        </div>
      </div>

      <!-- Big card 4 -->
      <div class="set set4">
        <div class="card">
          <img src="../static/images/Y.PNG" />
          <p>Y</p>
        </div>
        <div class="card">
          <img src="../static/images/Z.PNG" />
          <p>Z</p>
        </div>
        <div class="card">
          <img src="../static/images/space.PNG" />
          <p>Space</p>
        </div>
        <div class="card">
          <img src="../static/images/del.PNG" />
          <p>Delete</p>
        </div>
      </div>
    </div>

    

    <script src="../static/js/script.js"></script>
  </body>
</html>
